:root {
  font-family: sans-serif;
  font-size: 15px;
}
body {
  background-color: #eee;
}
#app {
  display: flex;
  justify-content: center;
}
.container {
  padding-top: 50px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
  padding-bottom: 50px !important;
  border-radius: 0 !important;
  margin-top: 60px;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  padding: 3px;
}
li a:hover {
  color: rgb(0, 131, 206);
}
.title {
  margin-bottom: 20px;
}
.title h2 {
  margin: 0;
}
.title p {
  color: #c0c0c1;
  margin-bottom: 8px;
}
.title span {
  font-size: 10px;
  font-weight: 500;
  padding: 4px 6px 4px 6px;
  border-radius: 20px;
}
.title .label1 {
  color: rgb(0, 131, 206);
  background-color: rgb(180, 228, 255);
}
.title .label2 {
  color: rgb(124, 0, 206);
  background-color: rgb(218, 180, 255);
}
.title .label3 {
  color: rgb(0, 206, 76);
  background-color: rgb(180, 255, 211);
}
.card {
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.02),
    0 10px 30px rgba(0, 0, 0, 0.08),
    0 2px 8px rgba(0, 0, 0, 0.04);
}
.card-header {
  display: flex;
  gap: 0.5rem;
  min-height: 80px;
}
.card-header h2,
p {
  margin: 0;
}
.card-header p {
  color: #c0c0c1;
  margin-bottom: 20px;
}
.card-header span {
  height: fit-content;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 8px;
  color: rgb(0, 131, 206);
  background-color: rgb(180, 228, 255);
}
.wapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}
.box {
  width: 450px;
}
